.monthlyWrapper {
  padding-top: 30px;
}

.letter{
  text-align: center;
}
.threeLetter{
  text-align: right;
  padding: 0 5px;
}

.calendarDayOfWeek {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-weight: 300;
  div {
    font-weight: normal;
    box-sizing: border-box;
    width: calc(100% / 7);
    display: inline-block;
  }
}
