@use 'variables' as v;


.container, body {
  background-color: v.$background-dark;
}

.calendarWrapper {
  width: 100%;
}

.sticky{
  top: 0;
  position: sticky;
  background-color: v.$background-dark;
  z-index: 1;
}

.calendarHeader {
  border-bottom: 1px solid v.$button-solid;
  .thickText {
    font-weight: 700;
  }
  .thinText {
    font-weight: 200;
  }
}

button {
  background: v.$background-dark;
  color: v.$button-solid;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 0.8em;
  font-weight: 700;
}

.calendarHeaderButtons {
  color: v.$button-solid;
  display: inline-block;
  width: 100%
}
.calendarHeaderButtons button:nth-of-type(1) {
  float: left;
}
.calendarHeaderButtons button:nth-of-type(2) {
  float: right;
}

.modeWrapper {
  text-align: center;
}

.modeButton {
  padding: 10px 20px;
  color: v.$button-solid;
  transition-duration: 0.3s;
}

.modeButton:hover {
  color: v.$text-main;
}

.modeButtonActive {
  color: v.$text-main;
}
